<div class="container">
  <h2>Ask something to the Stupid Coach!</h2>
  <form action="/answer" method="GET">
    <input type="text" name="question">
    <input type="submit" value="Ask!" class="btn_sub">
  </form>
</div>
