// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$color_title: #133c55;
$auto_margin: 0 auto;
$padding_good: 25px;

.container {
  margin: $auto_margin;
  width: 40%;
  height: 400px;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-radius: 10px;
  padding: $padding_good;
  text-align: center;
}

h2 {
  font-family: helvetica, serif;
  color: $color_title;
}

.btn_sub {
  text-decoration: none;
  background-color: lightgrey;
}
